{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Last seen</div>
                <div class="card-block">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Film</th>
                                <th>Duration</th>
                                <th>Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Best marks</div>
                <div class="card-block">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Film</th>
                            <th>Duration</th>
                            <th>Rate</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Last added</div>
                <div class="card-block">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Film</th>
                            <th>Duration</th>
                            <th>Rate</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
