
body > .container {
    padding: 80px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer > .container > p {
    text-align: center;
    color: #ffffff;
}

code {
    font-size: 80%;
}

.alert-danger > p, .alert-success > p {
    text-align: center;
}

.own-loader {
    font-size: 19px;
    color: #3097D1;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f5f8fa;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

#footerContainer {
    line-height: 1;
}

.bg-primary-front-page {
    background-color: #3097D1;
}

#spanConnected {
    color: #ffffff;
}